*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;

}
.btn-primary {
    background-color: #1DB954;
    padding: 15px 60px;
    border: none;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
}
.logo{
    height: 40px;
    width: auto;

}
#navbar {
    display: flex;
    background-color: #191414;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    
}
#navbar .navbar-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding:20px; */
}
#navbar .navbar-container ul{
    display: flex;
    list-style: none;
    font-weight: bold;
    
}
#navbar .navbar-container ul li{
    padding: 0 20px;
}
#navbar .navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}
#navbar .navbar-container ul li:hover{
    cursor: pointer;
    color: gray;
}

#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url('/images/showcase.webp') center center/cover;
    background-color: rgba(0, 0, 0,0.2);
    background-blend-mode: color;
}
#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#showcase .showcase-container h2 {
    font-size: 5rem;
}
#showcase .showcase-container p {
    padding: 10px;
    font-size: 1.1rem;
}
#showcase .showcase-container button:hover{
    cursor: pointer;
    background-color: gray;
}
#footer {
    background: #191414;
    color:white;
    padding: 80px 0;
   
}
#footer .footer-content{
    display: flex;
    width: 80%;
    margin: auto;
    
    
}
#footer .footer-content .footer-items{
    list-style: none;
    margin: 0 60px;
}
#footer .footer-content .footer-item:hover{
    cursor: pointer;
    color:green;
}
#footer .footer-content .footer-items p{
    font-weight: bold;
    color: gray;
    text-transform: uppercase;
    font-size: 0.8rem;

}
#footer .footer-content .footer-items .footer-item{
    margin: 15px 0;
    font-size: 0.8rem;
}
#footer .footer-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:auto;
    padding: 50px;
}
#footer .footer-info .footer-info-items{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 0.8rem;
}
#footer .footer-info .footer-info-items .footer-info-item{
    margin: 0 20px;
    list-style:none;
    font-weight: bold;
    color:gray;
}
#footer .footer-info .footer-info-items .footer-info-item:hover{
    cursor: pointer;
    color:green;
}
#footer .country .rigths p{
    font-size: 0.7rem
}
#footer .country .rigths img{
    width:40px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}
#footer .country .rigths{
    display: flex;
    justify-content: flex-end;
}

