*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;

}
#navbar {
    display: flex;
    justify-content: center;
    background-color: rgb(128, 122, 122);
    
}
#navbar .navbar-container{
    width: 60%;
    color: white;
    display: flex;
}